/* MAIN */
.blog_home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
.blog__card {
  border: 1px solid #eee;
  padding: 1.5rem;
}
.card__category {
  margin-bottom: 0.5em;
  font-weight: 600;
}
.card__category_world {
  color: #428bca;
}
.card__category_design {
  color: #59a608;
}
.card__header {
  margin-bottom: 0.5em;
}
.card__title {
  font-size: 1.5em;
  font-weight: 600;
}
.card__date {
  color: #999;
}
.card__text {
  margin-bottom: 2em;
}
main {
  margin-bottom: 1.5em;
}
/* END OF MAIN */

/* MEDIA QUERY */
@media screen and (max-width: 720px) {
  .blog_home {
    grid-template-columns: 1fr;
  }
  .blog__card {
    padding: 1em;
  }
  .card__title {
    font-size: 1.3em;
    font-weight: 600;
  }
}
